body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-viou3o-MuiAutocomplete-root{
  margin-left: 310px;
}

.css-hsnmye-MuiAutocomplete-root{
  width: 400px;
  margin-left: 250px;
}

.chart{
  margin-left: 15px;
  margin-top: 15px;
}

form{
  text-align: right;
  margin-top:5%;
  margin-right:40%;
}

.chartDataBlock{
  margin-top:15px;
  margin-right:15px;
  padding:10px;
}